############################
# Eclipse Specific Folders #
############################
.metadata
.settings
############################

########################
# Maven build directory#
########################
target
########################

#########################
# Eclipse Project files #
#########################
.classpath
.project
#########################